<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Mattress</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <!-- este es para el css -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> <!-- esto es para jquery -->


  </head>

<body>
  <!-- form -->

  <form action="/addMattress" method="POST">

    <label for="moneyToMattress">Monto a ingresar:</label>

    <div id="wrapper">

      <input required type="text" name="userId" value="<%= user._id %>" class="form-control" hidden>

      <input required type="number" name="mattressMoney" class="form-control">

      <button type="submit" class="col-2 btn btn-info btn-sm"  onclick="window.top.location.reload();">Ingresar</button>

    </div>

  </form>

  <form action="/removeMattress" method="POST">

    <label for="moneyToAccount">Sacar plata a cuenta:</label>

    <div >

      <input required type="text" name="userId" value="<%= user._id %>" class="form-control" hidden>

      <input required type="number" name="mattressAccount" class="form-control">

        <button type="submit" class="col-2 btn btn-danger btn-sm"  onclick="window.top.location.reload();"> Retirar </button>

    </div>

  </form>

  <label> Plata disponible en colchon: </label>

  <br>

  <label for="moneyOnMattress"> <%= user.account.mattress %> </label>

</body>

</html>
